.fast {
  padding: 104px 0 94px;
  &__content {
    display: flex;
    align-items: center;
    column-gap: 20px;
  }
  &__info {
    &-title {
      @include text(500, 66px, 78px);
      text-transform: capitalize;
      color: #363853;
    }
    &-text {
      @include text(400,20px,30px);
      color: #363853;
    }
    &-btns {
      display: flex;
      column-gap: 30px;
      align-items: center;
    }
    &-btn {
      background: $orange;
      box-shadow: 0px 22px 40px rgba(255, 104, 56, 0.19);
      border-radius: 5px;
      padding: 13px 21px;
      border: none;
      @include text(400,20px,24px);
      color: #FFFFFF;
      cursor: pointer;
    }
    &-link {
      @include text(400,20px,24px);
      text-decoration-line: underline;
      color: #363853;
    }
  }
  &__img {
    width: 50%;
  }
}


@media (max-width: 1024px) {
  .fast__info-title {
    font-size: 60px;
  }
}

@media (max-width: 992px) {
  .fast__info-title {
    font-size: 58px;
  }
  .fast__info-text {
    font-size: 18px;
  }
}

@media (max-width: 886px) {
  .fast__info-title {
    font-size: 51px;
    line-height: 58px;
  }
  .fast__info-text {
    font-size: 16px;
    line-height: 26px;
  }
}

@media (max-width: 768px) {
  .fast__content {
    flex-direction: column;
    row-gap: 20px;
    text-align: center;
  }
  .fast__info-text {
    width: 60%;
    margin: 0 auto;
  }
  .fast__info-btns {
    justify-content: center;
  }
}

@media (max-width: 425px) {
 .fast__info-title {
   font-size: 49px;
 }
}

@media (max-width: 375px) {
  .fast__info-title {
    font-size: 40px;
    line-height: 44px;
  }
  .fast__info-text {
    width: 100%;
  }
  .fast__img {
    width: 100%;
  }
}